.CellProvider {
    background-color: #f1f1f1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}