@import "variables";

:host {
    display: block;
}

.FormControl {
    
    &-control {
        color: $text-main;
        border: 1px solid $links;
        height: 40px;
        width: 260px;
        line-height: 40px;
        
    }

    &-error {
        color: $danger;
        font-size: 10px;
    }
}