.Layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    &-header {
        flex-grow: 0;
        flex-shrink: 0;
    }

    &-content {
        flex-grow: 1;
        padding: 20px 40px;
        width: 100%;
    }

    &-footer {
        flex-grow: 0;
        flex-shrink: 0;
    }
}